extends layout

block content
  .container
    .row
      .col-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        .jumbotron(style='margin-top: 4em')
          h1.text-center Forgot password
          form.clearfix(method='POST', action='/forgot-password')
            .form-group
              label.sr-only(for='username') Username
              input.form-control.input-lg(type='text', placeholder='Username or email')
            button.btn.btn-success.btn-lg.pull-right(type='submit') Reset password
            div
              a(href='/login') Back to login
  script.
    document.forms[0][0].focus();
