extends layout

block content
  .container
    .row
      .col-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        .jumbotron(style='margin-top: 4em')
          h1.text-center= user.username
          img.img-thumbnail.img-responsive.center-block(width='20%', src=user.avatar, alt='Avatar', style='margin-bottom: 1em')
          form.inline-form(method='POST', action='/logout')
            button.btn.btn-primary.btn-lg.center-block(type='submit') Log out
          form.clearfix(method='POST', action='/profile')
            h2 Your information
            .form-group
              label(for='name') Real name
              input#name.form-control.input-lg(type='text', name='name', placeholder='Real name', value=user.name)
            .form-group
              label(for='email') Email
              input#email.form-control.input-lg(type='email', name='email', placeholder='Email', value=user.email)
            h2 Change password
            .form-group
              label(for='current-password') Current password
              input#current-password.form-control.input-lg(type='password', name='current-password', placeholder='Current password')
            .form-group
              label(for='new-password') New password
              input#new-password.form-control.input-lg(type='password', name='new-password', placeholder='New password')
            .form-group
              label(for='confirm-password') Confirm password
              input#confirm-password.form-control.input-lg(type='password', name='confirm-password', placeholder='Confirm password')
            button.btn.btn-success.btn-lg.pull-right(type='submit') Save changes
